<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ohopro.com.ohopro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleplaceapi" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.DashBoardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.BillsActivity"
            android:windowSoftInputMode="stateHidden" />

        <service
            android:name=".services.AccessTokenService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="true" />

        <activity
            android:name=".activity.ListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.VendorFormActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.BillSubmitFormActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.LeaveApplyFormActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.ProductModuleActivity" />
        <activity android:name=".activity.SignOutActivity"></activity>
    </application>

</manifest>